<div class="container">
    <div class="row">
        <div class="col-lg-10">
            <ol class="breadcrumb mr-auto bg-white">
                <li class="nav-item active mx-auto">
                    <span [ngClass]="{'text-danger': systemHealth?.status !=='UP'}"><i class="fa fa-server"></i> System: {{systemHealth?.status}}</span>
                    <i class="fas fa-grip-lines-vertical ml-2 mr-2"></i>
                    <span [ngClass]="{'text-danger': systemHealth?.components.db.status !=='UP'}"><i class="fa fa-database"></i> DB: {{systemHealth?.components.db.details.database}} - {{systemHealth?.components.db.status}}</span>
                    <i class="fas fa-grip-lines-vertical ml-2 mr-2"></i>
                    <span [ngClass]="{'text-danger': !systemHealth?.components.diskSpace.details.free}"><i class="fa fa-hdd-o"></i> Disk Space: {{systemHealth?.components.diskSpace.details.free}}</span>
                    <i class="fas fa-grip-lines-vertical ml-2 mr-2"></i>
                    <span [ngClass]="{'text-danger': systemCpu?.measurements[0].value < 2}"><i class="fa fa-microchip"></i> Processors: {{systemCpu?.measurements[0].value}}</span>
                    <i class="fas fa-grip-lines-vertical ml-2 mr-2"></i>
                    <span><i class="fa fa-clock-o"></i> Up Time: {{processUpTime}}</span>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
            <button class="btn btn-primary btn-block" (click)="onRefresh()">
                <i class="fas fa-sync-alt p-2"></i> 
                Refresh
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="card-box bg-green">
                <div class="inner">
                    <p> 200 Response </p>
                    <h3> {{http200Status?.length}} </h3>
                </div>
                <div class="icon">
                    <i class="fas fa-check-circle" aria-hidden="true"></i>
                </div>
                <span class="card-box-footer">
                    Updated: <small *ngIf="http200Status?.length > 0" class="f-right">{{http200Status[0]?.timestamp | date:'short'}}</small>
                </span>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card-box bg-blue">
                <div class="inner">
                    <p> 404 Response </p>
                    <h3> {{http404Status?.length}} </h3>
                </div>
                <div class="icon">
                    <i class="fa fa-ban" aria-hidden="true"></i>
                </div>
                <span class="card-box-footer">
                    Updated: <small *ngIf="http404Status?.length > 0" class="f-right">{{http404Status[0]?.timestamp | date:'short'}}</small>
                </span>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card-box bg-orange">
                <div class="inner">
                    <p> 400 Response </p>
                    <h3> {{http400Status?.length}} </h3>
                </div>
                <div class="icon">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                </div>
                <span class="card-box-footer">
                    Updated: <small *ngIf="http400Status?.length > 0" class="f-right">{{http400Status[0]?.timestamp | date:'short'}}</small>
                </span>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card-box bg-red">
                <div class="inner">
                    <p> 500 Response </p>
                    <h3> {{http500Status?.length}} </h3>
                </div>
                <div class="icon">
                    <i class="fa fa-bug"></i>
                </div>
                <span class="card-box-footer">
                    Updated: <small *ngIf="http500Status?.length > 0" class="f-right">{{http500Status[0]?.timestamp | date:'short'}}</small>
                </span>
            </div>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4"> 
            <h5 class="pull-left">HTTP Response</h5>
            <canvas id="barChart" class="bg-white" style="display: block;"></canvas>
        </div>
      
        <div class="col-sm-4 col-md-4 col-lg-4"> 
            <h5 class="pull-left">Tasks Type</h5>
            <canvas id="pieChart-TasksByType" class="bg-white" style="display: block;">
            </canvas>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
            <h5 class="pull-left">Tasks Status</h5>
            <canvas id="pieChart-TasksByStatus" class="bg-white" style="display: block;">
            </canvas>
        </div>

        <hr>

        <div class="col-sm-6 col-md-6 col-lg-12" style="margin-top: 50px;">
            <h5 class="pull-left">HTTP Traces</h5>
            <table class="table table-hover text-center bg-white">
              <thead>
                <tr>
                  <th>Time Stamp</th>
                  <th>Method</th>
                  <th>Time Taken(ms)</th>
                  <th>Status</th>
                  <th>URI</th>
                  <th>View</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let httTrace of httpTraceList | paginate: { 
                    id: 'http-trace-list',
                    itemsPerPage: pageSize,
                    currentPage: page,
                    totalItems: httpTraceList?.length }"
                  >
                  <td>{{httTrace?.timestamp | date:'medium'}}</td>
                  <td>{{httTrace?.request.method}}</td>
                  <td>{{httTrace?.timeTaken}}</td>
                  <td [ngSwitch]="httTrace?.response.status">
                    <span  *ngSwitchCase="'200'" class="badge badge-success">{{httTrace?.response.status}}</span>
                    <span  *ngSwitchCase="'400'" class="badge badge-info">{{httTrace?.response.status}}</span>
                    <span  *ngSwitchCase="'404'" class="badge badge-warning">{{httTrace?.response.status}}</span>
                    <span  *ngSwitchCase="'500'" class="badge badge-danger">{{httTrace?.response.status}}</span>
                    <span *ngSwitchDefault class="badge badge-primary">{{httTrace?.response.status}}</span>
                  </td>
                  <td>{{httTrace?.request.uri}}</td>
                  <td>
                    <button (click)="onSelectHttpTrace(httTrace)" class="btn btn-outline-info"><i class="fa fa-eye"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination-controls class="text-center" id="http-trace-list" (pageChange)="page = $event"></pagination-controls>
        </div>
    </div>
</div>

<!-- Button hidden for dispalying modal -->
<button hidden="true" type="button" id="http-trace-modal" class="btn btn-primary" data-toggle="modal" data-target="#httpTrace-info-modal"></button>

<!-- HTTP trace Information Modal -->
<div class="modal fade" id="httpTrace-info-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">HTTP Trace Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body right-left-margin">
              <ul class="nav bg-light nav-pills rounded nav-fill mb-3" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="pill" href="#request">
                    <i class="fas fa-arrow-circle-right"></i> Request</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="pill" href="#response">
                    <i class="fas fa-arrow-circle-left"></i> Response</a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane fade show active" id="request">
                  <p>
                    <strong>Time Stamp:</strong>
                    {{selectedHttpTrace?.timestamp | date:'medium'}}
                  </p>
                  <p>
                    <strong>Time Taken(ms):</strong>
                    {{selectedHttpTrace?.timeTaken}}
                  </p>
                  <p>
                    <strong>Request Method:</strong>
                    {{selectedHttpTrace?.request.method}}
                  </p>
                  <p>
                    <strong>Remote Address:</strong>
                    {{selectedHttpTrace?.request.remoteAddress}}
                  </p>
                  <p>
                    <strong>URI:</strong>
                    {{selectedHttpTrace?.request.uri}}
                  </p>
                  <p>
                    <strong>Host:</strong>
                    {{selectedHttpTrace?.request.headers['host']}}
                  </p>
                  <p>
                    <strong>User Agent (Web Client):</strong>
                    {{selectedHttpTrace?.request.headers['user-agent']}}
                  </p>
                </div>
  
                <div class="tab-pane fade" id="response">
                  <dl>
                    <dt>Status:</dt>
                    <dd>{{selectedHttpTrace?.response.status}}</dd>
                  </dl>
                  <dl>
                    <dt>Date:</dt>
                    <dd>{{selectedHttpTrace?.response.headers['Date']}}</dd>
                  </dl>
                  <dl>
                    <dt>Content Type:</dt>
                    <dd>{{selectedHttpTrace?.response.headers['Content-Type']}}</dd>
                  </dl>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>