<div class="col-6 mx-auto">
    <div [hidden]="!isAdminOrSuperAdmin">
        <form #resetPasswordForm="ngForm" (ngSubmit)="onResetPassword(resetPasswordForm)">
            <div>
                <h2>Reset User Password</h2>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" name="reset-password" required ngModel class="form-control"
                        placeholder="Enter email (example@email.com)">
                </div>
                <button type="submit" [disabled]="resetPasswordForm.invalid" class="btn btn-primary mb-3">
                    <i *ngIf="refreshing" class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp;
                    <span *ngIf="refreshing">Loading...</span>
                    <span *ngIf="!refreshing">Reset Password</span>
                </button>
            </div>
        </form>
    </div>
</div>
